form {
  max-width: 300px;
  margin: auto;
}

.field-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 1rem 1rem 0.25rem 1rem;
}

.error-container {
  margin-top: 0;
  margin-bottom: 0;
}

.field-container .label {
  font-size: 0.8rem;
  margin-bottom: 0.2em;
  flex: 1 1 0;
}

.field-container .field {
  flex: 1 1 0;
}

.field select, .field input {
  padding: 0.3rem;
  font-size: 0.8rem;
}

#title {
  width: 5rem;
}

.field input {
  width: 100%;
}

.error-container .field {
  color: red;
  font-size: 0.8rem;
}

@media only screen and (min-width: 325px) {
  .field-container .label {
    font-size: 1rem;
  }

  .field select, .field input {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 768px) {
  form {
    max-width: 600px;
  }

  .field-container {
    flex-direction: row;
  }

  .field-container .field {
    flex: 3 1 0;
  }

  .field-container .error {
    flex: 3 1 0;
  }

  .field.submit input  {
    width: 5rem;
  }
}